body {
  background-color: #F7F6F5; }

.self-navbar {
  background-color: #39423F;
  color: #F7F6F5; }
  .self-navbar a {
    color: #F7F6F5; }

.self-navbar-nav a {
  color: #F7F6F5;
  font-size: 16px;
  margin-right: 10px; }
.self-navbar-nav a:hover {
  color: #F08300; }

.self-navbar-toggler {
  border-color: #F7F6F5;
  color: #F7F6F5;
  font-size: 16px;
  padding: 10px; }
  .self-navbar-toggler:hover {
    border-color: #F08300;
    color: #F08300;
    background-color: #F7F6F5; }

.self-navbar-form .form-control {
  border-color: #CBD0D3;
  background-color: #F7F6F5; }
.self-navbar-form .form-control:focus {
  border-color: #F08300; }
.self-navbar-form .btn {
  border-color: #F7F6F5;
  color: #F7F6F5; }
.self-navbar-form .btn:hover {
  border-color: #F08300;
  background-color: #F7F6F5;
  color: #F08300; }

.self-jumbotron {
  background-image: url("../img/background.jpeg");
  background-repeat: no-repeat;
  background-size: 100%; }
  .self-jumbotron h1 {
    color: #F7F6F5;
    text-align: center;
    padding: 80px 0; }

.self-card {
  background-color: #CBD0D3; }
  .self-card .table tr, .self-card .table th, .self-card .table td {
    color: #39423F;
    border-color: #F7F6F5;
    text-align: center; }
  .self-card .table tr:hover {
    background-color: #F7F6F5;
    color: #F08300; }
  .self-card .table tr:hover th {
    background-color: #F7F6F5;
    color: #F08300; }
  .self-card .table tr:hover td {
    background-color: #F7F6F5;
    color: #F08300; }
  .self-card div {
    text-align: center; }
    .self-card div img {
      max-height: 180px; }

.self-footer {
  width: 100%;
  text-align: center;
  background-color: #39423F;
  color: #F7F6F5; }
  .self-footer a {
    text-decoration: none;
    color: #F7F6F5; }
