body {
  background-color: #F8F9FA; }

.self-container {
  padding: 0; }

.self-navbar {
  background-color: #39423F;
  color: #F8F9FA; }
  .self-navbar a {
    color: #F8F9FA; }

.self-navbar-nav a {
  color: #F8F9FA;
  margin: 0 10px;
  font-size: 16px; }
.self-navbar-nav a:hover {
  color: #EB5381; }

.self-navbar-toggler {
  border-color: #F8F9FA;
  color: #F8F9FA;
  font-size: 16px;
  padding: 10px; }

.self-navbar-form .form-control {
  border-color: #F8F9FA;
  background-color: #F8F9FA; }
.self-navbar-form .form-control:focus {
  border-color: #EB5381; }
.self-navbar-form .btn {
  border-color: #F8F9FA;
  color: #F8F9FA; }
.self-navbar-form .btn:hover {
  border-color: #EB5381;
  background-color: #F8F9FA;
  color: #EB5381; }
